.user {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 0.005em solid gray;
  cursor: pointer;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-family: Calibri;
  font-size: 16px;
  margin-bottom: 5px;
  
}

.user-status {
  font-style: italic;
  font-weight: lighter;
  font-family: Calibri;
  font-size: 13px;
  color: gray;
}
