.content {
  min-height: calc(100vh - 255px);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.chat {
  width: 1000px;
  display: flex;
  height: 600px;
  border: 0px;
  box-shadow: -1px 0px 12px 3px rgba(0,0,0,0.49);
}

.users {
  width: 400px;
  height: 100%;
  border-right: 1px solid gray;
}

.chatWindow {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url('../public/assets/back.png');
}

.chat-component {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.placeholder p {
  color: white;
  font-weight: lighter;
  font-family: Calibri;
  font-size: 21px;
  width: 400px;
  height: 40px;
  text-align: center;
  padding: 3px;
  border: 5px solid #0080c1;
  border-radius: 8px;
  background-color: #0080c1;
}

.messages-container {
  height: calc(100% - 56px);
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: none;
}


